.header__lang-link {
    text-decoration: none;
    color: white;
    line-height: 117%;
    font-size: 24px;
    font-weight: normal;
    transition: ease 1s;
}

@media(max-width: 767px) {
    .header__lang-link {
        line-height: 111%;
        font-size: 18px;
    }
}

.header__lang-link:hover {
    opacity: 0.3;
}