.place__title {
    max-width: 100%;
    line-height: 106%;
    font-size: 72px;
    font-weight: 900;
    color: white;
    margin: 0;
    padding: 0;
}

@media(max-width: 1023px) {
    .place__title {
        line-height: 110%;
        font-size: 42px;
    }
}

@media(max-width: 767px) {
    .place__title {
        line-height: 109%;
        font-size: 32px;
        padding: 0 16px;
    }
}