.footer__links {
    display: flex;
    flex-direction: row;
    gap: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media(max-width: 767px) {
    .footer__links {
        max-width: 186px;
        display: flex;
        flex-direction: column;
    }
}