.place__block {
    max-width: 984px;
    display: grid;
    grid-template-columns: minmax(460px, 1fr) 2fr;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
    padding-bottom: 80px;
}

@media(max-width: 1279px) {
    .place__block {
        max-width: 100%;
        grid-column-gap: 32px;
        grid-template-columns: minmax(440px, 1fr) 2fr;
    }
}

@media(max-width: 1023px) {
    .place__block {
        grid-column-gap: 28px;
        padding-bottom: 72px;
        grid-template-columns: minmax(340px, 1fr) 2fr;
    }
}

@media(max-width: 767px) {
    .place__block {
        display: grid;
        grid-template-columns: minmax(min-content, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 32px;
        padding-bottom: 50px;
    }
}