.place {
    max-width: 984px;
    padding: 92px 0 12px;
    box-sizing: border-box;
}

@media(max-width: 1023px) {
    .place {
        padding: 88px 0 12px;
    }
}

@media(max-width: 767px) {
    .place {
        padding: 64px 0 16px;
    }
}