.place__url-heading {
    line-height: 12px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #AAAAAA;
    text-decoration: none;
    margin-bottom: 12px;
    padding: 0;
}