.intro__title {
    max-width: 100%;
    line-height: 107%;
    font-size: 54px;
    font-weight: 900;
    color: white;
    margin: 0;
    padding: 0;
}

@media(max-width: 767px) {
    .intro__title {
        line-height: 109%;
        font-size: 32px;
    }
}